doctype html

html(lang="es")
    head
        title Bienvenido a Node
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="/css/Style.css", rel="stylesheet")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet") 
        link(rel="icon" type="image/png" href="/images/nuclear.png")
    body(class="err404")
        a(href="/" class="hip")
            img(id="Logo", src="images/logo_node.svg")
        div(id="contenedor")
            center
                img(id="dog" alt="doggo" src="images/Doggo.jpg")
                div(id="texto")
                    h1(class="titulo") Error 404!
                    p(class="descripcion") Esto es incomodo... no podemos encontrar tu página.

        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")