extends ./layout.jade
block content

    div(class="jumbotron")
        div(class="container")
            h1(class="display-3") Datos
            h3 Nevárez Tovar Juan Carlos
            h3 2019630183 - Cuarto Semestre
    
    div(class="container")

        div(class="row")
            div(class="col-md-4")
                h2 
                    span(class="badge badge-light") Cursos:

        div(class="row row-cols-1 row-cols-md-2")

            div(class="col mb-4")
                div(class="card text-white bg-dark")
                    a(href="https://www.facebook.com/DWESCOM/?epa=SEARCH_BOX")
                        img(src="/images/web.jpg" class="card-img-top" alt="web")
                    div(class="card-body")
                        h5(class="card-title") Introduccion al desarrollo web

            div(class="col mb-4")
                div(class="card text-white bg-dark")
                    a(href="https://nodejs.org/es/")
                        img(src="/images/node.jpg" class="card-img-top" alt="Node")
                    div(class="card-body ")
                        h5(class="card-title") Node JS - Grupo A
