html
    head
        title 
    body
        //h1 Hola Mundo
        //h1!=hola asignas una variable
        //el menos es para codigo javascript, lo que no le pongas guion lo va a pintar
        -var array = [1,2,3];
        -for(var i )